<div id="test-end" style="display: none;">
  <a mat-button routerLink="/home">HOME</a>
  <main>
    <p>The order of font weight this time:</p>
    <p id="ran-font-weight"></p>
    <br><br><p> Thank you very much! </p>
    <p> Have a nice day. </p>
  </main>
</div>

<main>
  <p id="weight-now"> </p>
  <div>
    <div id="start-btn" style="margin-top: 40px;">
      <div id="start-intro">
        <p> Are you ready? Let's begin.</p>
        <p> Click "done reading" button when you finish the reading.</p>
      </div>
      <button mat-raised-button onclick="startTimer();" id="start-btn" style="margin-top: 60px;">Start to read</button>
    </div>

    <div id="text-body">
      <div id="example-text">
        <h2>Example</h2>
        <p>
          Around the world with a chilli contains lots of fun facts for children about chilies and the places they come from. A young boy in India meets Ajar Uchu, the spirit of the chillies.
        </p>
      </div>
      <div id="reading1">
        <h2>Reading 1</h2>
        <p>
          The sun had just dipped behind the coconut, mango and chiku trees that ring Appu’s house. The sky was still tinged with pink. The kitchen garden where the family grew brinjals, tomatoes and bottle gourd was still bathed in a soft light. Flocks of birds flew across the sky on their way home. Appu’s mother was making fish curry for dinner and wanted some fresh green chillies. Twelve year old Appu had gone to the garden to pick some fully grown, shiny green chillies when he was startled to hear a deep voice, “I am so glad your family likes my offerings.” Appu’s hair stood on end. He turned around to see who had sneaked up on him. The heavy but soothing voice seemed to come out of the knee-high, leafy chilli plant. “Don’t be frightened, I am Ajar Uchu, known...
        </p>
      </div>
      <div id="reading2">
        <h2>Reading 2</h2>
        <p>
          “You water the plants every evening and take care of them. I am so happy to be loved and admired. I am tens of thousands of miles away from home, and so your care means a lot to me.” Appu took a few moments to recover from the shock of hearing a voice from the plant. Appu asked, “Where do you come from?” “From very, very far, from the Americas. More precisely, from Mexico,” Ajar Uchu answered. Appu had no idea where Mexico was. Before he could ask for more details his mother shouted from the kitchen, “Appu, please bring the chillies in now.” Ajar Uchu said, “You have to go now, I suppose. Come back tomorrow and I’ll tell you more. But please don’t tell anybody about our conversation. I’ll tell you the story of our journey to India and all over the world.”
        </p>
      </div>
      <div id="reading3">
        <h2>Reading 3</h2>
        <p>
          Still dazed, Appu nodded and ran off. This little plant in the back garden came from far-off Mexico! “What took you so long?” Ma asked. Appu remembered what Ajar Uchu had said. “Oh...I spotted so many tomatoes that have grown on the plant since I last looked,” he said. He would learn later how the tomato plant too, had come from the same place as the chilli. Appu did not linger to taste the few pieces of fish that Ma had just fried. He ran off to his room and picked up the small globe that he had received on his last birthday. Impatiently, he turned the globe to see where South America was. It was on the other side of the globe. He quickly found the country that Ajar Uchu had mentioned: Mexico. Amazing! Appu thought. The next day seemed to drag for Appu.
        </p>
      </div>
      <div id="reading4">
        <h2>Reading 4</h2>
        <p>
          He went through his classes distractedly, finished his homework early in the evening with only one thought on his mind – the talking plant. Just before sunset he filled up the watering can and walked to the garden. He watered the egg plants, spinach, tomatoes and bottle gourd vines before coming to the chilli. Just after he had emptied the watering can on the chilli plants laden with bright green pods, some even turning red, Ajar Uchu spoke, “Ahh! So refreshing after a hot day! Thank you Appu.” Appu eagerly knelt down to listen to the story. “Thousands of years ago,” Ajar Uchu recounted, “Inca gods reigned over the vast mountains and forests that lay over South America. They sent four brothers to help the people who lived there. The Inca people grew maize...
        </p>
      </div>

      <button mat-raised-button onclick="endTimer();" id="end-btn">Done reading</button>
      <p id="all-time"></p>
      <button mat-raised-button onclick="nextReading();" id = "next-btn">Next one</button>
    </div>


  </div>
</main>

<script>

</script>
