<!--The content below is only a placeholder and can be replaced.-->
<main class="home-page">
  <div class="center home-cover">
    <h1>
      Typography matters!
    </h1>
    <div class="row"><img width="300" src="assets/t-reflect.png"></div>

  </div>

  <div id="lets-begin" class="center">
    <h4>Thanks for participating this test </h4>
    <button mat-button>Let's begin!</button>
  </div>
</main>

<footer class="center">
  <p>A user testing app about typography </p>
  <p>@2017 by Hanyue & Leyang </p>
</footer>
