<a mat-button routerLink="/home">HOME</a>
<main>
  <h3>Hi there, ready?</h3>
  <p>You are going to read four short paragraphs.</p>
  <p>They are in different font weights.</p><br>
    <span style="font-weight: 100;">Thin</span>,
    <span style="font-weight: 200;">Light</span>,
    <span style="font-weight: 300;">Regular</span>,
    <span style="font-weight: 400;">Medium</span><br><br>
  <p>We are going to measure your reading time.</p>

  <a mat-raised-button routerLink="/weight-test" style="margin-top:40px;">Start with an example</a>
</main>
